// workflow parameters
params {
	
	// IMPORTANT PARAMETERS TO BE REVIEWED WITH EACH USE
	// ---------------------------------------------------------------
	
	// INPUT SAMPLESHEET:
	// An example samplesheet can be found at the filepath below.
	// Samplesheet must have 6 or 7 columns, depending on the data:
		// 1 - Sample name of your choice
		// 2 - Population name.
		// 3 - Library prep method, i.e. RAD or WGS
		// 4 - Sequencing platform. Illumina, ONT, and PacBio are supported.
		// 5 - File path to VCF files containing candidate SNPs for analysis
	samplesheet = "$launchDir/resources/samplesheet.csv"
	
	// Reference genome assembly, preferably from NCBI RefSeq, to be used for read mapping
	reference = "$baseDir/resources/GCA_014549065.1_CCar_1.0_genomic.fna"
	
	// SNP CALLING SETTINGS	
	minor_allele_frequency = 0.05 // The default of 0.05 states that a SNP must be present in %5 of your samples.
	minor_allele_count = 2 // An alternative to MAF. Specified as 1, it says a SNP has to occur in at least 1 sample
	max_snp_missingness = 0 // The maximum number of samples that are allowed to have no coverage on a SNP. 0 ensures that only SNPs that have coverage in *ALL* samples will be retained. 
	min_quality = 10 // minimum variant quality score
	min_depth = 2 // For the default of 2, a SNP must be present in at least two reads to be retained
	max_depth = 50 // For the default of 50, sites with more than 50 reads are excluded
	
	// KEY ANALYSIS SETTINGS
	genome_length = 1044724463 // This number should either be the length of all contigs in a de novo assembly, or the length of the reference genome you are aligning to. Numeric. No commas allowed, as these will lead to the number being interpreted as a string.
	year_per_generation = 1
	mutation_rate = 1.35e-9
	random_seed = 14
	whether_folded = true // whether site frequency spectrum should be folded or unfolded. In most population genetics contexts, this setting should be left "true"
	whole_species_mode = true // whether to ignore population designations and infer SFSs and demographic histories for the whole species rather than each population
	
	
	// ANALYSES TO PERFORM:
	principal_component_analysis = false
	admixture_plot = false
	admixture_plot_K = 3
	stairwayplot = true
	subsampling_bias_assessment = true
	
	// BEARTOOTH RUN SETTINGS
	cluster_account = "passerinagenome"
	email = "nminor1@uwyo.edu"
	email_on_fail = "${params.email}"
	date = new java.util.Date().format('yyyyMMdd')
	
	// WHERE TO PLACE RESULTS:
	// This workflow subdirectory will be created if it doesn't already exist
	results = "$baseDir/results/${params.date}"
	
	
	// ---------------------------------------------------------------
	
}


// Changing default workflow-visualizing configuration to true
dag {
	enabled = true
	overwrite = true
	file = 'variant_analysis_visualization.png'
}

// Changing default to collecting run stats
timeline {
  enabled = false
  // overwrite = true
  file    = "${params.results}/pipeline_info/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file    = "${params.results}/pipeline_info/report.html"
}

trace {
  enabled = true
  overwrite = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.results}/pipeline_info/trace.txt"
}


manifest {
	homePage = 'https://github.com/nrminor/plugnplay-popgen'
	mainScript = 'plugnplay-popgen.nf'
	defaultBranch = 'main'
	description = 'Nextflow Pipeline intended to provide a smorgasbord of population genetics analyses at the stroke of a command.'
	author = 'Nicholas R. Minor'
}


// Setting profiles
profiles {

	standard {
		process.executor = 'local' // We HIGHLY discourage running this workflow on a personal computer
		process.container = 'nrminor/plugnplay-popgen:v1_0_1'
		
		// container settings
			singularity.enabled = false
			docker.enabled = false
			conda.enabled = true
			podman.enabled = false
			shifter.enabled = false
			charliecloud.enabled = false
			
		}

	// beartooth {
	// 	
	// 	// slurm settings
	// 	process.executor = 'slurm'
	// 	process.clusterOptions = "--account=" + "${params.cluster_account}"
	// 	process.cpus = 8
	// 	// process.disk = 5.GB
	// 	process.memory = 64.GB
	// 	process.time = { 8.hours * task.attempt }
	// 	process.errorStrategy = 'retry'
	// 	process.maxRetries = 1
	// 	
	// 	// container settings
	// 	singularity.enabled = true
	// 	docker.enabled = false
	// 	conda.enabled = false
	// 	podman.enabled = false
	// 	shifter.enabled = false
	// 	charliecloud.enabled = false
	// 	
	// }

}
