// See https://nf-co.re/sarek/3.0.2/parameters for more about sarek parameters

params {
	
	// beartooth run settings
	cluster_account = "passerinagenome"
	email = "nminor1@uwyo.edu"
	
}

// added nextflow setting
cleanup = false


profiles {
	
	standard {
		
		// slurm settings
		process.executor = 'slurm'
		process.container = 'nrminor/plugnplay-popgen:v1_0_1'
		process.clusterOptions = "--account=" + "${params.cluster_account}" + " --mail-type=END" + " --mail-user=" + "${params.email}"
		process.cpus = 8
		// process.disk = 5.GB
		process.memory = 64.GB
		process.time = { 8.hours * task.attempt }
		process.errorStrategy = 'retry'
		process.maxRetries = 1
		
		// container settings
		singularity.enabled = true
		docker.enabled = false
		conda.enabled = false
		podman.enabled = false
		shifter.enabled = false
		charliecloud.enabled = false
		
	}
	
}
